.idea
**/*mlruns*
**/*build*
**/*egg*
**/*pycache*
**/*dist*
mlflow.db
tests/plugins/mnist_train
tests/plugins/tensorboard_events/
tensorboard_events/
**/*.DS_Store*
**/*.log*
notebooks/.ipynb_checkpoints
**/*ipynb_checkpoints*
notebooks/tb_*
notebooks/scheduler_file.json
test.py
tests/decorator_tests/mnist_data*
