.idea
**/*mlruns*
**/*build*
**/*egg*
**/*pycache*
**/*dist*
mlflow.db
tests/decorator_tests/mnist*
tests/decorator_tests/tensorboard_events/
tensorboard_events/
**/*.DS_Store*
**/*.log*
notebooks/.ipynb_checkpoints
**/*ipynb_checkpoints*
notebooks/tb_*
notebooks/scheduler_file.json
test.py
**/*dump*
tests/decorator_tests/responsible_ai_and_telemetry_sample.json
